<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        #app {
            display: table;
            margin: 0 auto;
        }

        canvas {
            display: table;
            margin: 0 auto;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="app">
        <canvas id="canvas" width="640" height="480"></canvas>

        <form v-on:submit.prevent="addMessage">
            <input type="text" v-model="newMessage" />
            <input type="submit" value="Send" />
        </form>

        <ul>
            <li v-for="message in messages">{{ message }}</li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./node_modules/@aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="./assets/js/game.js"></script>
    <script src="./assets/js/sketch.js"></script>
</body>
</html>